.updated-state-section {
 display: grid;
 margin: auto;
 padding-top: 4rem;
 grid-gap: 2rem;
 grid-template-areas:
     "name name"
     "attr attr"
     "pic1 des1"
     "des2 pic2";
}

.updated-state-section .default-content-wrapper {
 grid-area: name;
}

.updated-state-section .columns.attributes {
 grid-area: attr;
}

.updated-state-section .state-pic1 {
 grid-area: pic1;
 width: 100%;
 height: 100%;
}

.updated-state-section .state-pic2 {
 grid-area: pic2;
 width: 100%;
 height: 100%;
}

.updated-state-section .state-pic1 img,
.updated-state-section .state-pic2 img {
 width: 100%;
 height: 100%;
 object-fit: cover;
 display: block;
 box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
 border: 5px solid white;
}

.updated-state-section .state-des1 {
 grid-area: des1;
}

.updated-state-section .state-des2 {
 grid-area: des2;
}